<!-- FOOTER -->
<footer class="site-footer footer-opt-1">

    <div class="container">
        <div class="footer-column">

            <div class="row">
                <div class="col-md-3 col-lg-3 col-xs-6 col">
                    
                    <strong class="logo-footer" style="margin-left: 50px">
                        <a href="/"><img src="~/Assets/Client/images/media/index1/ewon-by-hms-networks-vector-logo.png" alt="logo" height="64"></a>
                    </strong>

                    <table class="address">
                        <tr>
                            <td><b>Địa Chỉ: </b></td>
                            <td>89c Nguyễn Thường Hiền,Bình Thạnh, Hồ Chí Minh,Việt Nam</td>
                        </tr>
                        <tr>
                            <td><b>Điện Thoại: </b></td>
                            <td>+09873633573</td>
                        </tr>
                        <tr>
                            <td><b>Email:</b></td>
                            <td>lehaiha10@gmail.com</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-lg-2 col-xs-6 col">
                    <div class="links">
                        <h3 class="title">Công Ty</h3>
                        <ul>
                            <li><a >Thông Tin Về Chúng Tôi</a></li>
                            <li><a >Chứng Thực</a></li>
                            <li><a >Chương Trình Liên Kết</a></li>
                            <li><a >Chương Trình Học</a></li>
                            <li><a >Tư Vấn Học Viên</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xs-6 col">
                    <div class="links">
                        <h3 class="title">Tài Khoản</h3>
                        <ul>
                            <li><a >Khóa Học Đã mua</a></li>
                            <li><a >Khóa Học Yêu Thích</a></li>
                            <li><a >Thẻ Tín Dụng</a></li>
                            <li><a >Địa chỉ</a></li>
                            <li><a>Khoản mua</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xs-6 col">
                    <div class="links">
                        <h3 class="title">Hỗ Trợ</h3>
                        <ul>
                            <li><a>New User Guide</a></li>
                            <li><a>Hệ Thống Trợ Giúp</a></li>
                            <li><a>Chính Sách Hoàn Tiền</a></li>
                            <li><a>Báo Cáo Thư Rác</a></li>
                            <li><a>FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col">
                    <div class="block-newletter">
                        <div class="block-title">Thư Mới</div>
                        <div class="block-content">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Your Email Address">
                                    <span>
                                        <button class="btn btn-subcribe" type="button"><span>ok</span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="block-social">
                        <div class="block-title">Mạng Xã Hội </div>
                        <div class="block-content">
                            <a href="https://www.facebook.com/" class="sh-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="sh-pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            <a href="#" class="sh-vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href="#" class="sh-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="sh-google"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-methods">
            <div class="block-title">
                Phương Thức Thanh Toán
            </div>
            <div class="block-content">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment1.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment2.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment3.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment4.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment5.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment6.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment7.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment8.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment9.png">
                <img alt="payment" src="~/Assets/Client/images/media/index1/payment10.png">
            </div>
        </div>
        <div class="copyright" style="padding-top:15px">

            Bản Quyền © 2020 Ewons. Đăng Ký Băn Quyền . Thiết Kế Bởi <a href="/">Ewons.net</a>

        </div>

    </div>

</footer><!-- end FOOTER -->
<!--back-to-top  -->
<a href="#" class="back-to-top">
    <i aria-hidden="true" class="fa fa-angle-up"></i>
</a>
