
@{ 
    TapChiDB db = new TapChiDB();

    var chantrang = db.ManagerPages.ToList();
}
<!--Main Footer-->
<footer class="main-footer alternate" style="background-image:url('wp-content/uploads/2020/02/3.jpg')">
    <div class="auto-container">

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    <div id="bunch_about_us-3" class="footer-widget widget_bunch_about_us">
                        <div class="logo-widget">
                            <div class="logo">
                                <a href="~/Trang-Chu"><img src="~/images/670.png" style="width:150px" alt="" /></a>
                            </div>
                            @{foreach (var ch in chantrang)
                                {
                                    <div class="text">
                                        @ch.Introduce
                                    </div>
                                }

                            }

                            <ul class="social-icon-one">

                                <li><a title="Facebook" href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a></li>

                                <li><a title="Twitter" href="https://www.twitter.com/"><span class="fa fa-twitter"></span></a></li>

                                <li><a title="Google Plus" href="https://www.google.plus.com/"><span class="fa fa-google-plus"></span></a></li>

                                <li><a title="Pinterest" href="https://www.pinterest.com/"><span class="fa fa-pinterest"></span></a></li>

                                <li><a title="Dribbble" href="https://www.dribbble.com/"><span class="fa fa-dribbble"></span></a></li>
                            </ul>
                        </div>

                    </div>
                </div><div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    <div id="bunch_footer_servies-2" class="footer-widget widget_bunch_footer_servies">
                        <!--Footer Services Widget-->
                        <div class="links-widget">
                            <div class="footer-title"><h2>Dịch Vụ</h2></div>
                            <ul class="footer-lists">
                                @{ foreach (var sb in chantrang)
                                    {
                                        <li><a>@sb.DichVu</a></li>
                                    }
                                }
                                <!-- Title -->
                            </ul>
                        </div>

                    </div>
                </div><div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    <div id="pages-2" class="footer-widget widget_pages">
                        <div class="footer-title"><h2>Liên kết bổ sung</h2></div>
                        <ul>
                            <li class="page_item page-item-30"><a>Về chúng tôi</a></li>
                            <li class="page_item page-item-66"><a>Cố Vấn</a></li>
                            <li class="page_item page-item-8 current_page_item"><a>Trang chủ</a></li>
                            <li class="page_item page-item-63"><a>Blog Chúng Tôi</a></li>
                            <li class="page_item page-item-56"><a>Dự án của chúng tôi</a></li>
                            <li class="page_item page-item-33"><a>Dịch vụ</a></li>
                        </ul>
                    </div>
                </div><div class="footer-column col-md-3 col-sm-6 col-xs-12">
                    <div id="bunch_recent_projects-2" class="footer-widget widget_bunch_recent_projects">
                        <!--Projects Widget-->
                        <div class="footer-widget gallery-widget">
                            <div class="footer-title"><h2>Dự Án Gần Đây</h2></div>
                            <div class="widget-content">
                                <div class="images-outer clearfix">

                                    <!-- Title -->
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/6.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/6.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/6.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/6-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/4.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/4.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/4.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/4-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/5.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/5.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/5.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/5-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/3.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/3.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/3.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/3-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/2.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/2.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/2.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/2-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a href="wp-content/uploads/2018/04/1.jpg" class="lightbox-image" data-caption="" data-fancybox="images" title="Image Title Here" data-fancybox-group="footer-gallery"><span class="overlay-box flaticon-plus"></span></a>
                                        <img width="85" height="62" src="~/wp-content/uploads/2018/04/1.jpg" class="attachment-konstructo_85x77 size-konstructo_85x77 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/1.jpg 370w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/1-300x219.jpg 300w" sizes="(max-width: 85px) 100vw, 85px" />
                                    </figure>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">

                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <div class="copyright">Bản quyền © 2020 <a href="#">Ewons,</a> Tất cả các quyền</div>
                </div>
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <ul class="footer-nav">
                        <li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-211 active"><a title="Home" href="/Trang-Chu" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart">Trang Chủ</a></li>
                        <li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a title="About us" href="/Trang-Chu/Ve-Chung-Toi" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart">Về Chúng Tôi</a></li>
                        <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a title="Our Blog" href="/Trang-Chu/Tu-Van" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart">Tư Vấn</a></li>
                        <li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a title="Contact Us" href="/Trang-Chu/Co-Van" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart">Cố Vấn</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--End Main Footer-->
