<!-- block  hot categories-->
<div class="block-hot-categories-opt1">
    <div class="container">

        <div class="block-title ">
            <span class="title">Gian hàng chính hãng</span>
        </div>

        <div class="block-content">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="item">

                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories1.png)">
                            <div class="title"><span>Electronics</span></div>
                            <a href="/Home/Electronics" class="btn">shop now</a>
                        </div>
                        @*<ul>
                                <li><a href="#">Batteries & Chargers</a></li>
                                <li><a href="#">Headphone, Headset</a></li>
                                <li><a href="#">Home Audio</a></li>
                                <li><a href="#">Mp3 Player Accessories</a></li>
                            </ul>*@
                    </div>
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories2.png)">
                            <div class="title"><span>Jewelry &  <br>Watches</span></div>
                            <a href="" class="btn">shop now</a>
                        </div>
                        @*<ul>
                                <li><a href="#">Men Watches</a></li>
                                <li><a href="#">Wedding Rings</a></li>
                                <li><a href="#">Earring</a></li>
                                <li><a href="#">Necklaces</a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories3.png)">
                            <div class="title"><span>Sport &  <br>Outdoors</span></div>
                            <a href="/home/Sport" class="btn">shop now</a>
                        </div>
                        @*<ul>
                                <li><a href="#">Golf Supplies</a></li>
                                <li><a href="#">Outdoor & Traveling Supplies</a></li>
                                <li><a href="#">Camping & Hiking</a></li>
                                <li><a href="#">Fishing</a></li>
                            </ul>*@
                    </div>
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories4.png)">
                            <div class="title"><span>Digital</span></div>
                            <a href="" class="btn">shop now</a>
                        </div>
                        @*<ul>
                                <li><a href="#">Accessories for iPhone</a></li>
                                <li><a href="#">Accessories for iPad</a></li>
                                <li><a href="#">Accessories for Tablet PC</a></li>
                                <li><a href="#">Tablet PC</a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories5.png)">
                            <div class="title"><span>Fashion</span></div>
                            <a href="/Home/Fashion" class="btn">shop now</a>
                        </div>
                        @*<ul>
                                <li><a href="#">Batteries & Chargers</a></li>
                                <li><a href="#">Headphone, Headset</a></li>
                                <li><a href="#">Home Audio</a></li>
                                <li><a href="#">Mp3 Player Accessories</a></li>
                            </ul>*@
                    </div>
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories7.png)">
                            <div class="title"><span>Health & <br>Beauty</span></div>
                            <a href="" class="btn">shop now</a>
                        </div>
                        @*<ul>
                <li><a href="#">Bath & Body</a></li>
                <li><a href="#">Shaving & Hair Removal</a></li>
                <li><a href="#">Fragrances</a></li>
                <li><a href="#">Salon & Spa Equipment</a></li>
            </ul>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories6.png)">
                            <div class="title"><span>Furniture</span></div>
                            <a href="/Home/Furniture" class="btn">shop now</a>
                        </div>
                        @*<ul>
                <li><a href="#">Batteries & Chargers </a></li>
                <li><a href="#">Headphone, Headset</a></li>
                <li><a href="#">Home Audio</a></li>
                <li><a href="#">Mp3 Player Accessories</a></li>
            </ul>*@
                    </div>
                   
                    <div class="item">
                        <div class="description" style="background-image: url(/Assets/Client/images/media/index1/hot-categories8.png)">
                            <div class="title"><span>Toys & <br>Hobbies</span></div>
                            <a href="" class="btn">shop now</a>
                        </div>
                        @*<ul>
                <li><a href="#">Walkera</a></li>
                <li><a href="#">Fpv System & Parts</a></li>
                <li><a href="#">RC Cars & Parts</a></li>
                <li><a href="#">Helicopters & Part</a></li>
            </ul>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!--block  hot categories-->
