<div role="alert" class="qc-top-site qc-top-site1 alert  fade in" style="background-image: url(/Assets/Client/images/media/index1/bg-qc-top.jpg);">
    <div class="container">
        <button class="close" type="button"><span aria-hidden="true">×</span></button>
        <div class="description">
            <span class="title">Ưu đãi đặc biệt!</span>
            <span class="subtitle">Thưởng cho tất cả khách hàng với mức giảm giá 15%. </span>
            <span class="des">Ưu đãi này có sẵn từ ngày 9 tháng 08 đến ngày 19 tháng 08 năm 2019.</span>

        </div>
    </div>
</div><!-- alert banner top -->
