
@{
    ViewBag.Title = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from wp.efforttech.net/newwp/konstructo/about-us/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jun 2020 05:40:25 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://themebunch.com/newwp/konstructo/wp-content/themes/konstructo/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://themebunch.com/newwp/konstructo/wp-content/themes/konstructo/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>About us &#8211; Konstructo</title>
    @*<link rel='dns-prefetch' href='http://maps.google.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Konstructo &raquo; Feed" href="../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Konstructo &raquo; Comments Feed" href="../comments/feed/index.html" />
    <script type="text/javascript">window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/wp.efforttech.net\/newwp\/konstructo\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.15"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);</script>
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='../wp-content/plugins/contact-form-7/includes/css/styles972f.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='../wp-content/plugins/revslider/public/assets/css/rs6b5e1.css?ver=6.1.5' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>

        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='woocommerce-layout-css' href='../wp-content/plugins/woocommerce/assets/css/woocommerce-layout7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='../wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen7e2e.css?ver=3.8.1' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='../wp-content/plugins/woocommerce/assets/css/woocommerce7e2e.css?ver=3.8.1' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>

        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>*@
    @*<link rel='stylesheet' id='bootstrap-css' href='../wp-content/themes/konstructo/css/bootstrapca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='default-theme-css' href='../wp-content/themes/konstructo/css/color-themes/default-themeca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css' href='../wp-content/themes/konstructo/css/font-awesomeca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='flaticon-css' href='../wp-content/themes/konstructo/css/flaticonca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='../wp-content/themes/konstructo/css/animateca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='../wp-content/themes/konstructo/css/owlca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-custom-menu-css' href='../wp-content/themes/konstructo/css/custom-menuca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-fancybox-css' href='../wp-content/themes/konstructo/css/jquery.fancybox.minca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-touchspin-css' href='../wp-content/themes/konstructo/css/jquery.bootstrap-touchspinca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='konstructo-main-style-css' href='../wp-content/themes/konstructo/styleca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='konstructo-custom-style-css' href='../wp-content/themes/konstructo/css/customca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='arctica_woocommerce-css' href='../wp-content/themes/konstructo/css/woocommerceca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='konstructo-responsive-css' href='../wp-content/themes/konstructo/css/responsiveca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='konstructo-main-color-css' href='../wp-content/themes/konstructo/css/colorfb7f.css?main_color=fbb908&amp;ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='konstructo-color-switcher-css' href='../wp-content/themes/konstructo/css/color-switcher-designca80.css?ver=4.9.15' type='text/css' media='all' />
    <link rel='stylesheet' id='arctica-theme-slug-fonts-css' href='https://fonts.googleapis.com/css?family=Arimo%3A400%2C400i%2C700%2C700i%7CMontserrat%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='kc-general-css' href='../wp-content/plugins/kingcomposer/assets/frontend/css/kingcomposer.min6552.css?ver=2.6.17' type='text/css' media='all' />
    <link rel='stylesheet' id='kc-animate-css' href='../wp-content/plugins/kingcomposer/assets/css/animate6552.css?ver=2.6.17' type='text/css' media='all' />
    <link rel='stylesheet' id='kc-icon-1-css' href='../wp-content/themes/konstructo/css/flaticon6552.css?ver=2.6.17' type='text/css' media='all' />
    <link rel='stylesheet' id='kc-icon-2-css' href='../wp-content/plugins/kingcomposer/assets/css/icons6552.css?ver=2.6.17' type='text/css' media='all' />
    <script type='text/javascript' src='../wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='../wp-content/plugins/revslider/public/assets/js/revolution.tools.minf049.js?ver=6.0'></script>
    <script type='text/javascript' src='../wp-content/plugins/revslider/public/assets/js/rs6.minb5e1.js?ver=6.1.5'></script>
    <script type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyBjirg3UoMD5oUiFuZt3P9sErZD-2Rxc68&amp;ver=4.9.15'></script>
    <link rel='https://api.w.org/' href='../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.15" />
    <meta name="generator" content="WooCommerce 3.8.1" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='../index5643.html?p=30' />
    <link rel="alternate" type="application/json+oembed" href="../wp-json/oembed/1.0/embed66f3.json?url=http%3A%2F%2Fwp.efforttech.net%2Fnewwp%2Fkonstructo%2Fabout-us%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../wp-json/oembed/1.0/embedd904?url=http%3A%2F%2Fwp.efforttech.net%2Fnewwp%2Fkonstructo%2Fabout-us%2F&amp;format=xml" />
    <script type="text/javascript">var kc_script_data={ajax_url:"http://wp.efforttech.net/newwp/konstructo/wp-admin/admin-ajax.php"}</script>
    <noscript>
    <style>
        .woocommerce-product-gallery {
            opacity: 1 !important;
        }
    </style></noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Slider Revolution 6.1.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(t){try{var h,e=document.getElementById(t.c).parentNode.offsetWidth;if(e=0===e||isNaN(e)?window.innerWidth:e,t.tabw=void 0===t.tabw?0:parseInt(t.tabw),t.thumbw=void 0===t.thumbw?0:parseInt(t.thumbw),t.tabh=void 0===t.tabh?0:parseInt(t.tabh),t.thumbh=void 0===t.thumbh?0:parseInt(t.thumbh),t.tabhide=void 0===t.tabhide?0:parseInt(t.tabhide),t.thumbhide=void 0===t.thumbhide?0:parseInt(t.thumbhide),t.mh=void 0===t.mh||""==t.mh||"auto"===t.mh?0:parseInt(t.mh,0),"fullscreen"===t.layout||"fullscreen"===t.l)h=Math.max(t.mh,window.innerHeight);else{for(var i in t.gw=Array.isArray(t.gw)?t.gw:[t.gw],t.rl)void 0!==t.gw[i]&&0!==t.gw[i]||(t.gw[i]=t.gw[i-1]);for(var i in t.gh=void 0===t.el||""===t.el||Array.isArray(t.el)&&0==t.el.length?t.gh:t.el,t.gh=Array.isArray(t.gh)?t.gh:[t.gh],t.rl)void 0!==t.gh[i]&&0!==t.gh[i]||(t.gh[i]=t.gh[i-1]);var r,a=new Array(t.rl.length),n=0;for(var i in t.tabw=t.tabhide>=e?0:t.tabw,t.thumbw=t.thumbhide>=e?0:t.thumbw,t.tabh=t.tabhide>=e?0:t.tabh,t.thumbh=t.thumbhide>=e?0:t.thumbh,t.rl)a[i]=t.rl[i]<window.innerWidth?0:t.rl[i];for(var i in r=a[0],a)r>a[i]&&0<a[i]&&(r=a[i],n=i);var d=e>t.gw[n]+t.tabw+t.thumbw?1:(e-(t.tabw+t.thumbw))/t.gw[n];h=t.gh[n]*d+(t.tabh+t.thumbh)}void 0===window.rs_init_css&&(window.rs_init_css=document.head.appendChild(document.createElement("style"))),document.getElementById(t.c).height=h,window.rs_init_css.innerHTML+="#"+t.c+"_wrapper { height: "+h+"px }"}catch(t){console.log("Failure at Presize of Slider:"+t)}};</script>
    <script type="text/javascript"></script>
    <style type="text/css" id="kc-css-general">
        .kc-off-notice {
            display: inline-block !important;
        }

        .kc-container {
            max-width: 1170px;
        }
    </style>*@
    <style type="text/css" id="kc-css-render"></style>
</head>

<body class="page-template page-template-tpl-king_composer page-template-tpl-king_composer-php page page-id-30 kingcomposer kc-css-system woocommerce-no-js">

    <div class="page-wrapper">

        <!-- Preloader -->
        @*<div class="preloader"></div>*@


        <!-- Main Header / Header Style Two-->
       
        <!--Page Title-->
        <section class="page-title" style="background-image:url(../wp-content/uploads/2018/04/8.jpg);">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1>Về Chúng Tôi</h1>
                    </div>
                    <div class="pull-right">
                        <ul class="page-breadcrumb"><li><a href="../index.html">Trang Chủ</a></li><li>Về Chúng Tôi</li></ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <div class="kc_clfw"></div>
        <section class="kc-elm kc-css-106661 kc_row">
            <div class="kc-row-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-197145 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <!--Success Section-->
                            <section class="success-section">
                                <div class="auto-container">
                                    <div class="row clearfix">

                                        <!--Image Column-->
                                        <div class="image-column col-md-5 col-sm-12 col-xs-12">
                                            <div class="inner-column">
                                                <div class="image">
                                                    <img src="../wp-content/uploads/2018/04/success-1.jpg" alt="" />
                                                </div>
                                                <div class="small-img">
                                                    <img src="../wp-content/uploads/2018/04/success-2.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--Content Column-->
                                        <div class="content-column col-md-7 col-sm-12 col-xs-12">
                                            <div class="inner-column">
                                                <div class="since-year clearfix">
                                                    <span class="title">Từ</span>
                                                    <div class="year-img"><img src="../wp-content/uploads/2018/04/year.png" alt="" /></div>
                                                    <div class="work">36 Năm <strong>Làm Việc</strong><span>Thành Công</span></div>
                                                </div>
                                                <div class="text">Rõ ràng chúng ta đã đạt đến một độ cao tuyệt vời trong bầu khí quyển của bầu trời là một màu đen chết chóc và những ngôi sao đã lấp lánh. Chúng tôi cung cấp cho công ty dịch vụ xây dựng quốc tế và là nhà xây dựng hàng đầu trong các phân khúc thị trường đa dạng. Công ty đã kiếm được tiền nhờ việc thực hiện các dự án lớn, phức tạp, thúc đẩy đổi mới, nắm bắt các công nghệ mới nổi và tạo ra sự khác biệt. </div>
                                                    <div class="fact-counter">
                                                        <div class="row clearfix">
                                                            <!--Column-->
                                                            <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                                                <div class="inner">
                                                                    <div class="count-outer count-box">
                                                                        <span class="count-text" data-speed="3500" data-stop="200">0</span>
                                                                        <h4 class="counter-title">DỰ ÁN</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Column-->
                                                            <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                                                <div class="inner">
                                                                    <div class="count-outer count-box">
                                                                        <span class="count-text" data-speed="3500" data-stop="895">0</span>
                                                                        <h4 class="counter-title">NHÂN VIÊN</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Column-->
                                                            <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                                                <div class="inner">
                                                                    <div class="count-outer count-box">
                                                                        <span class="count-text" data-speed="3500" data-stop="954">0</span>
                                                                        <h4 class="counter-title">KHÁCH HÀNG</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Column-->
                                                            <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                                                                <div class="inner">
                                                                    <div class="count-outer count-box">
                                                                        <span class="count-text" data-speed="3500" data-stop="25">0</span>
                                                                        <h4 class="counter-title">GIẢI THƯỞNG</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <!--End Success Section-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="kc-elm kc-css-631579 kc_row">
            <div class="kc-row-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-532840 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <!--Fluid Section One-->
                            <section class="fluid-section-one">
                                <div class="outer-container clearfix">
                                    <!--Image Column-->
                                    <div class="image-column" style="background-image:url('../wp-content/uploads/2020/02/image-1.jpg');">
                                        <figure class="image-box"><img src="../wp-content/uploads/2020/02/image-1.jpg" alt=""></figure>
                                    </div>
                                    <!--Content Column-->
                                    <div class="content-column">
                                        <div class="inner-box">
                                            <div class="sec-title">
                                                <div class="title">Chúng tôi cung cấp dịch vụ tốt nhất &amp; Các giải pháp</div>
                                                <h2><span class="theme_color">Tại Sao </span> Chọn Chúng Tôi</h2>
                                            </div>
                                            <div class="text">Chúng tôi cung cấp các giải pháp đầy đủ và cụ thể cho mọi khách hàng của chúng tôi. Xây dựng Cung cấp cho công ty dịch vụ xây dựng quốc tế và là nhà xây dựng hàng đầu trong các phân khúc thị trường đa dạng. Công ty đã được công nhận để thực hiện các dự án lớn, phức tạp, thúc đẩy đổi mới, nắm bắt các công nghệ mới nổi và tạo sự khác biệt cho khách hàng của họ.</div>
                                            <ul class="list-style-one clearfix">
                                                <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-briefcase-1"></span>Chyên Gia &amp; Chuyên Nghiệp</li>
                                                <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-diamond-1"></span>Cách Tiếp Cận Chuyên Nghiệp</li>
                                                <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-bank-building"></span>Môi Trường Chất Lượng Cao</li>
                                                <li class="col-md-6 col-sm-6 col-xs-12"><span class="icon flaticon-two-fingers-up"></span>Đảm Bảo Sự Hài Lòng</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--End Fluid Section One-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="kc-elm kc-css-264077 kc_row">
            <div class="kc-row-container  kc-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-552660 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <!--Featured Section-->
                            <section class="featured-section">
                                <div class="auto-container">
                                    <div class="row clearfix">

                                        <!--Content Column-->
                                        <div class="content-column col-md-6 col-sm-12 col-xs-12">
                                            <div class="inner-column">
                                                <div class="sec-title">
                                                    <div class="title">Kiểm tra video của chúng tôi cho</div>
                                                    <h2><span class="theme_color">Đặc sắc</span> Công việc</h2>
                                                </div>
                                                <div class="text">
                                                    <p>Trọng tâm chính của chúng tôi để giúp tăng trưởng kinh doanh và chiến lược tiếp thị kinh doanh của bạn cho quy mô có lợi nhuận. Chúng tôi đang theo dõi các vấn đề dưới đây</p><p>Chúng tôi hợp tác với hơn 320 dự án seds tuyệt vời trên toàn thế giới, &amp; đã cho hơn một triệu tiền mặt &amp; tài trợ sản phẩm cho các nhóm khác kể từ năm 2015 bộ năng động của chúng tôi. Có bất cứ ai yêu thích hoặc theo đuổi hoặc mong muốn có được nỗi đau của nó là bởi vì quyến rũ tất cả các trường hợp đôi khi.</p>
                                                </div>
                                                <a href="~/Trang-Chu/Co-Van" class="theme-btn btn-style-four">Cố Vấn</a>
                                            </div>
                                        </div>

                                        <!--Video Column-->
                                        <div class="video-column col-md-6 col-sm-12 col-xs-12">
                                            <div class="inner-column">
                                                <div class="video-box">
                                                    <figure class="image">
                                                        <img src="../wp-content/uploads/2018/04/video-img.jpg" alt="">
                                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <!--End Featured Section-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="kc-elm kc-css-414453 kc_row">
            <div class="kc-row-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-25223 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <!--Team Section-->
                            <section class="team-section">
                                <div class="auto-container">
                                    <div class="sec-title centered">
                                        <div class="title">Công nhân khởi nghiệp</div>
                                        <h2><span class="theme_color">Nhóm</span> Tận Tâm</h2>
                                    </div>
                                    <div class="row clearfix">
                                        <!--Team Block-->
                                        <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <img width="270" height="361" src="../wp-content/uploads/2018/04/team-1.png" class="attachment-konstructo_270x361 size-konstructo_270x361 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-1.png 270w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-1-224x300.png 224w" sizes="(max-width: 270px) 100vw, 270px" />						
                                                    <div class="overlay-box">
                                                        <h3>Lê Hải Hà</h3>
                                                        <ul class="social-icon-two">
                                                            <li><a href="https://www.facebook.com/"><span class="fa fa fa-facebook"></span></a></li>
                                                            <li><a href="https://twitter.com/"><span class="fa fa fa-twitter"></span></a></li>
                                                            <li><a href="https://www.plus.google.com/"><span class="fa fa fa-google-plus"></span></a></li>
                                                            <li><a href="https://www.pinterest.com/"><span class="fa fa fa-pinterest"></span></a></li>
                                                            <li><a href="https://www.dribbble.com/"><span class="fa fa fa-dribbble"></span></a></li>
                                                        </ul>
                                                        <div class="designation">Quản lý dự án</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Team Block-->
                                        <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <img width="270" height="361" src="../wp-content/uploads/2018/04/team-2.png" class="attachment-konstructo_270x361 size-konstructo_270x361 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-2.png 270w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-2-224x300.png 224w" sizes="(max-width: 270px) 100vw, 270px" />						<div class="overlay-box">
                                                        <h3>Lê Hải Hà</h3>
                                                        <ul class="social-icon-two">
                                                            <li><a href="https://www.facebook.com/"><span class="fa fa fa-facebook"></span></a></li>
                                                            <li><a href="https://twitter.com/"><span class="fa fa fa-twitter"></span></a></li>
                                                            <li><a href="https://www.plus.google.com/"><span class="fa fa fa-google-plus"></span></a></li>
                                                            <li><a href="https://www.pinterest.com/"><span class="fa fa fa-pinterest"></span></a></li>
                                                            <li><a href="https://www.dribbble.com/"><span class="fa fa fa-dribbble"></span></a></li>
                                                        </ul>
                                                        <div class="designation">Quản lý dự án</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Team Block-->
                                        <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <img width="270" height="361" src="../wp-content/uploads/2018/04/team-3.png" class="attachment-konstructo_270x361 size-konstructo_270x361 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-3.png 270w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-3-224x300.png 224w" sizes="(max-width: 270px) 100vw, 270px" />						<div class="overlay-box">
                                                        <h3>Lê Hải Hà</h3>
                                                        <ul class="social-icon-two">
                                                            <li><a href="https://www.facebook.com/"><span class="fa fa fa-facebook"></span></a></li>
                                                            <li><a href="https://twitter.com/"><span class="fa fa fa-twitter"></span></a></li>
                                                            <li><a href="https://www.plus.google.com/"><span class="fa fa fa-google-plus"></span></a></li>
                                                            <li><a href="https://www.pinterest.com/"><span class="fa fa fa-pinterest"></span></a></li>
                                                            <li><a href="https://www.dribbble.com/"><span class="fa fa fa-dribbble"></span></a></li>
                                                        </ul>
                                                        <div class="designation">Quản lý dự án</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Team Block-->
                                        <div class="team-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <div class="inner-box">
                                                <div class="image">
                                                    <img width="270" height="361" src="../wp-content/uploads/2018/04/team-4.png" class="attachment-konstructo_270x361 size-konstructo_270x361 wp-post-image" alt="" srcset="http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-4.png 270w, http://wp.efforttech.net/newwp/konstructo/wp-content/uploads/2018/04/team-4-224x300.png 224w" sizes="(max-width: 270px) 100vw, 270px" />						<div class="overlay-box">
                                                        <h3>Lê Hải Hà</h3>
                                                        <ul class="social-icon-two">
                                                            <li><a href="https://www.facebook.com/"><span class="fa fa fa-facebook"></span></a></li>
                                                            <li><a href="https://twitter.com/"><span class="fa fa fa-twitter"></span></a></li>
                                                            <li><a href="https://www.plus.google.com/"><span class="fa fa fa-google-plus"></span></a></li>
                                                            <li><a href="https://www.pinterest.com/"><span class="fa fa fa-pinterest"></span></a></li>
                                                            <li><a href="https://www.dribbble.com/"><span class="fa fa fa-dribbble"></span></a></li>
                                                        </ul>
                                                        <div class="designation">Quản lý dự án</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--End Team Section-->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="kc-elm kc-css-576869 kc_row">
            <div class="kc-row-container">
                <div class="kc-wrap-columns">
                    <div class="kc-elm kc-css-481008 kc_col-sm-12 kc_column kc_col-sm-12">
                        <div class="kc-col-container">
                            <!--Call To Action Two-->
                            <section class="call-to-action-section-two" style="background-image:url('../wp-content/uploads/2018/04/7.jpg')">
                                <div class="auto-container">
                                    <div class="row clearfix">

                                        <div class="column col-md-7 col-sm-12 col-xs-12">
                                            <h2><span class="theme_color">Trường Học</span> Xây Dựng</h2>
                                            <div class="text">Nếu bạn có bất kỳ công trình &amp; cần cải tạo công việc, chỉ cần gọi số khẩn cấp 24 giờ của chúng tôi.</div>
                                        </div>
                                        <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                                            <div class="number">01865 524 8503 <span class="theme_color"> Hoặc </span> <a href="¬/Trang-Chu/Co-Van" class="theme-btn btn-style-five">Cố Vấn</a> </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <!--End Call To Action Two-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

        <!--Main Footer-->
        
        <!--End Main Footer-->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

   
    <!-- /.End Of Color Palate -->
    <script type="text/javascript">var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;</script>
    <script type='text/javascript'>/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/wp.efforttech.net\/newwp\/konstructo\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */</script>
    <script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/scripts972f.js?ver=5.0.1'></script>
    <script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70'></script>
    <script type='text/javascript'>/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/newwp\/konstructo\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/newwp\/konstructo\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/wp.efforttech.net\/newwp\/konstructo\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */</script>
    <script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min7e2e.js?ver=3.8.1'></script>
    <script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4'></script>
    <script type='text/javascript'>/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/newwp\/konstructo\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/newwp\/konstructo\/?wc-ajax=%%endpoint%%"};
/* ]]> */</script>
    <script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min7e2e.js?ver=3.8.1'></script>
    <script type='text/javascript'>/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/newwp\/konstructo\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/newwp\/konstructo\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_6e9055947148c426f921816d9a0b3236","fragment_name":"wc_fragments_6e9055947148c426f921816d9a0b3236","request_timeout":"5000"};
/* ]]> */</script>
    <script type='text/javascript' src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min7e2e.js?ver=3.8.1'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/bootstrap.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/jquery.mCustomScrollbar.concat.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/jquery.fancyboxca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/owlca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/mixitupca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/appearca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/wowca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/jquery-custom-menuca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/map-scriptca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/scriptca80.js?ver=4.9.15'></script>
    <script type='text/javascript'>if( ajaxurl === undefined ) var ajaxurl = "../wp-admin/admin-ajax.html";</script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/jquery.cookieca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/themes/konstructo/js/themepanelca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-includes/js/comment-reply.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='../wp-content/plugins/kingcomposer/assets/frontend/js/kingcomposer.min6552.js?ver=2.6.17'></script>
    <script type='text/javascript' src='../wp-includes/js/wp-embed.minca80.js?ver=4.9.15'></script>
</body>

<!-- Mirrored from wp.efforttech.net/newwp/konstructo/about-us/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jun 2020 05:40:48 GMT -->
</html>
<!--Generated by Endurance Page Cache-->
