@{
    ViewBag.Title = "Cố Vấn";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<meta charset="UTF-8">
<link rel="shortcut icon" href="http://themebunch.com/newwp/konstructo/wp-content/themes/konstructo/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="http://themebunch.com/newwp/konstructo/wp-content/themes/konstructo/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Contact Us &#8211; Konstructo</title>

@*<style type="text/css" id="kc-css-render"></style>*@

<div class="screen-reader-response"></div>

<body class="page-template page-template-tpl-king_composer page-template-tpl-king_composer-php page page-id-66 kingcomposer kc-css-system woocommerce-no-js">

    <div class="page-wrapper">


        <!-- Main Header / Header Style Two-->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(../wp-content/uploads/2018/04/8.jpg);">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1>Cố Vấn</h1>
                    </div>
                    <div class="pull-right">
                        <ul class="page-breadcrumb"><li><a>Trang Chủ</li><li>Cố Vấn</li></ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <div class="kc-row-container  kc-container">
            <div class="kc-wrap-columns">
                <div class="kc-elm kc-css-425351 kc_col-sm-12 kc_column kc_col-sm-12">
                    <div class="kc-col-container">
                        <!--Contact Section-->
                        <section class="contact-section">
                            <div class="auto-container">

                                <h2><span class="theme_color">Cố</span> Vấn</h2>
                                <div class="text">Bạn có thể nói chuyện với đại diện trực tuyến của chúng tôi bất cứ lúc nào. Vui lòng sử dụng Hệ thống trò chuyện trực tiếp của chúng tôi trên trang web của chúng tôi hoặc Điền vào bên dưới các chương trình nhắn tin tức thì. <br> Hãy kiên nhẫn, chúng tôi sẽ lấy lại cho bạn. Hỗ trợ 24/7 của chúng tôi.</div>
                                <div class="row clearfix">
                                    <div class="form-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                        <div class="inner-column">

                                            <!--Contact Form-->
                                            <div class="contact-form style-two">
                                                   <div class="screen-reader-response"></div>
                                                    <form method="post" action="/Home/SendMail" id="form" name="form" class="contact-form">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="name" name="txtName" placeholder="Name" required="" autofocus="">
                                                                </div>


                                                                <div class="form-group form_left">
                                                                    <input type="email" class="form-control" id="email" name="txtEmail" placeholder="Email" required="">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="phone" name="txtPhone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <textarea class="form-control textarea-contact" rows="3" id="comment" name="txtMessage" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
                                                                    <br>
                                                                    <button class="btn btn-default btn-send" type="submit"> <span class="fa fa-envelope"></span> Send </button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </form>
                                                </div>
                                            </div>
                                            <!--End Contact Form-->

                                        </div>
                                    </div>
                                    <div class="info-column col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                        <ul class="list-style-two">
                                            <li><span class="icon flaticon-home-1"></span><strong>89c,nguyễn thường hiền</strong>Hồ Chí Minh,Việt Nam</li>
                                            <li><span class="icon flaticon-envelope-1"></span><strong>Gửi Email Của Bạn Tới:</strong>lehaiha10@gmail.com</li>
                                            <li><span class="icon flaticon-technology-2"></span><strong>Giải Đáp Thắc Mắc:</strong>+0968 547856 254</li>
                                            <li><span class="icon flaticon-clock-1"></span><strong>Thời Gian Làm Việc:</strong>8.00am Đến 7.00pm</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                  
                        <!--End Contact Section-->
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--Main Footer-->
        <!--End Main Footer-->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>


</body>

<!-- Mirrored from wp.efforttech.net/newwp/konstructo/contact-us/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jun 2020 05:47:45 GMT -->
<!--Generated by Endurance Page Cache-->

<div class="zalo-chat-widget" data-oaid="2991594934763725435" data-welcome-message="Cty phần mềm ewon xin chào các bạn" data-autopopup="1" data-width="350" data-height="420"></div>

<script src="https://sp.zalo.me/plugins/sdk.js"></script>