
@{
    ViewBag.Title = "Vật Liệu Đá";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var th = (List<VatLieu>)ViewBag.vatlieu;
}
    <link href="~/css/thue/thue.css" rel="stylesheet" />
<section class="page-title" style="background-image:url(../wp-content/uploads/2018/04/8.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Vật Liệu</h1>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb"><li><a href="../index.html">Vật Liệu</a></li><li>Đá Xây Dựng</li></ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->

<div class="kc_clfw"></div>
<section class="kc-elm kc-css-924297 kc_row">
    <section class="bl-padding-rewrite sec-tb sec-h-5 bg-white group-ef lazy-hidden">
        <div class="container">
            <div>
                <div>
                    <b style="font-size:25px;padding-bottom:2px;border-bottom:2px solid #fbb908"><span style="color:#fbb908;font-size:30px">Đá</span>&nbsp<span style="font-size:22px">Xây Dựng</span></b>
                </div>
                <div class="list-duan row" style="margin-top: 20px">
                    @{foreach (var sb in th)
                        {
                            if (sb.LoaiVatLieu.Equals("daxay"))
                            {
                                <div class="col-6">
                                    <div class="group-item">
                                        <div class="item t-item">
                                            <a class="img tRes_83"> <img class="lazy-hidden" data-lazy-type="image" src="@sb.Images" alt="Jamila Khang Điền"> <span class="count">12 hình</span> </a>
                                            <div class="divtext">
                                                <h3 class="title"><a>@sb.Name</a></h3>
                                                <div class="imeta-3">@sb.Content</div>
                                                <div class="imeta-3"><span>Giá: <strong>200000 đ</strong></span></div>
                                            </div>
                                        </div>

                                        <!-- listing of rent -->
                                        <div class="group-tag">
                                            <div class="owl-carousel s-auto" paramowl="margin=0">
                                                <div class="item">
                                                    <h3 class="title"> <a href="thue/can-ho/hcm/quan-9/id170540.html">Chính chủ cho thuê căn hộ mới, 2 phòng ngủ trong Chung Cư Jamila, Song Hành Cao Tốc, phường Phú Hữu, Quận 9.</a> </h3>
                                                    <div class="wcontent">
                                                        <a href="thue/can-ho/hcm/quan-9/id170540.html" class="img tRes_83"> <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="https://cdn.propzy.vn/listing/thumbnail/map/2020/06/06/listing_f80687840ff0695f3e7a0bc8ac9e492aa49afb5458a6f75ab8bd7dc0dc8fef08.jpg" alt="Chính chủ cho thuê căn hộ mới, 2 phòng ngủ trong Chung Cư Jamila, Song Hành Cao Tốc, phường Phú Hữu, Quận 9."> <span class="count">8 hình</span> </a>
                                                        <div class="divtext">
                                                            <div class="imeta-3"> <span><i class="icon-compass"></i> <strong>Không xác định</strong></span> <span><i class="icon-bed"></i> <strong>2</strong></span> <span><i class="icon-tub"></i> <strong>1</strong></span> </div>
                                                            <div class="label"> <span class="label-1">Thuê</span> </div>
                                                            <div class="imeta-2">
                                                                <span>11 triệu</span> <span>65 m²</span>
                                                                <div class="price2">169,2 ngàn/m²</div>
                                                            </div>
                                                            <a href="du-an/hcm/quan-9/jamila-khang-dien-id343/thue.html" class="viewall">Xem tất cả <i class="icon-arrow-2"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="wlike">
                                                        <div link="/thue/can-ho/hcm/quan-9/id170540" listingid="170540" object='{"id":170540 }' class="btnlike  save-listing save-listing-170540"> <span><i class="icon-like-1"></i></span> </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <h3 class="title"> <a href="thue/can-ho/hcm/quan-9/id157452.html">Cho thuê căn Shophouse 1 trệt 1 lầu ở Chung cư Jamila Khang Điền, Phường Hiệp Phú, Quận 9. </a> </h3>
                                                    <div class="wcontent">
                                                        <a href="thue/can-ho/hcm/quan-9/id157452.html" class="img tRes_83"> <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="https://cdn.propzy.vn/listing/thumbnail/map/2020/05/08/listing_95196eebf8937d7316af09c991ed7537ecdaff48b6f13c9ea3c726f946c7e710.jpg" alt="Cho thuê căn Shophouse 1 trệt 1 lầu ở Chung cư Jamila Khang Điền, Phường Hiệp Phú, Quận 9. "> <span class="count">7 hình</span> </a>
                                                        <div class="divtext">
                                                            <div class="imeta-3"> <span><i class="icon-compass"></i> <strong>Không xác định</strong></span> <span><i class="icon-bed"></i> <strong>0</strong></span> <span><i class="icon-tub"></i> <strong>1</strong></span> </div>
                                                            <div class="label"> <span class="label-1">Thuê</span> </div>
                                                            <div class="imeta-2">
                                                                <span>28 triệu</span> <span>138 m²</span>
                                                                <div class="price2">202,9 ngàn/m²</div>
                                                            </div>
                                                            <a href="du-an/hcm/quan-9/jamila-khang-dien-id343/thue.html" class="viewall">Xem tất cả <i class="icon-arrow-2"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="wlike">
                                                        <div link="/thue/can-ho/hcm/quan-9/id157452" listingid="157452" object='{"id":157452 }' class="btnlike  save-listing save-listing-157452"> <span><i class="icon-like-1"></i></span> </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <h3 class="title"> <a href="thue/can-ho/hcm/quan-9/id143391.html">Cho thuê căn hộ 2 phòng ngủ tại Jamila Khang Điền, Phường Phú Hữu, Quận 9.</a> </h3>
                                                    <div class="wcontent">
                                                        <a href="thue/can-ho/hcm/quan-9/id143391.html" class="img tRes_83"> <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="https://cdn.propzy.vn/listing/thumbnail/map/2020/03/25/listing_bb0611ed52028de5da2fd312fbb412ce2e162022897ef395c702cd2aa3cd4185.jpg" alt="Cho thuê căn hộ 2 phòng ngủ tại Jamila Khang Điền, Phường Phú Hữu, Quận 9."> <span class="count">7 hình</span> </a>
                                                        <div class="divtext">
                                                            <div class="imeta-3"> <span><i class="icon-compass"></i> <strong>Không xác định</strong></span> <span><i class="icon-bed"></i> <strong>2</strong></span> <span><i class="icon-tub"></i> <strong>2</strong></span> </div>
                                                            <div class="label"> <span class="label-1">Thuê</span> </div>
                                                            <div class="imeta-2">
                                                                <span>17 triệu</span> <span>81 m²</span>
                                                                <div class="price2">209,9 ngàn/m²</div>
                                                            </div>
                                                            <a href="du-an/hcm/quan-9/jamila-khang-dien-id343/thue.html" class="viewall">Xem tất cả <i class="icon-arrow-2"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="wlike">
                                                        <div link="/thue/can-ho/hcm/quan-9/id143391" listingid="143391" object='{"id":143391 }' class="btnlike  save-listing save-listing-143391"> <span><i class="icon-like-1"></i></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }


                </div>
            </div>

        </div>
    </section>
</section>
<section class="kc-elm kc-css-518793 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-597708 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <!--Call To Action Two-->
                    <section class="call-to-action-section-two" style="background-image:url('../wp-content/uploads/2018/04/7.jpg')">
                        <div class="auto-container">
                            <div class="row clearfix">

                                <div class="column col-md-7 col-sm-12 col-xs-12">
                                    <h2><span class="theme_color"> Công Ty</span> Xây dựng</h2>
                                    <div class="text">Nếu bạn có bất kỳ công trình &amp; cần cải tạo công việc, chỉ cần gọi số khẩn cấp 24 giờ của chúng tôi.</div>
                                </div>
                                <div class="btn-column col-md-5 col-sm-12 col-xs-12">
                                    <div class="number">01865 524 8503  <span class="theme_color"> Hoặc </span> <a href="/trang-Chu/Co-Van" class="theme-btn btn-style-five"> Cố Vấn </a> </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <!--End Call To Action Two-->
                </div>
            </div>
        </div>
    </div>
</section>

